/*border:2pxsolid black;*/
.title-images
{
height:30px;
width:30px;
}
.title-toggler
{
    height:20px;
    width:30px;
}
.about-border
{
    border-radius: 10px;
    box-shadow: 15px 5px 20px rgb(218, 208, 208);
}
.navbar{
    background: transparent;
    z-index:1;
}
.intro-image
{
    height:100vh;
    width:100vw;
    z-index:-1;
    margin-top:-20px;
}
.intro-para
{
    color:rgb(75, 50, 50);
    position: absolute;
    font-size:15px;
    margin-top:25%;
}
.small-para
{
    font-size:10px;
}
.about-me
{
    display:inline-block; 
    margin-top:20px;
    margin-left:5%;
    
}

.images-sphere
{
    border-radius: 50%;
    box-shadow:5px 5px 20px rgb(218, 208, 208);
}
.about-heading
{
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
}
.education-header
{
    font-size:30px;
    color:rgb(202, 25, 25);
    width:100px;
    border-bottom:5px dotted grey;
    transition: width 1s;
    margin-bottom:20px;
}
.education-header:hover
{
    
    width:100%;
}
.education-container
{
    display:inline-block;
    margin-top:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow:5px 5px 20px rgb(218, 208, 208);
}
.education-image
{
    width:70px;
    top:0;
    border-radius: 10px;
}
.extras
{
    font-weight:400;
    font-size:10px;
    color:grey;
}

@media all and (min-width:320px)
{
 
.education-container
{
    height:80px;
    font-size:10px;
}
    .intro-hello
    {
        font-size:25px;
        color:rgb(201, 84, 41);
    }
    .images-sphere{
        width:50%;
        height:200px;
        margin-left:20%;
    }
    .about-me
    {
        margin-left:0;
        height:300px;
        margin-top:10px;

    }
    .intro-para
{
    top:0px;
    height:px;
}
    .navbar{

        height:0px;
        
    }
    .navbar-brand
    {
        height:30px;

    }
    .navbar-nav
    {
        margin-left:70%;
        font-size: 12px;
    }
    .nav-link
    {
        
        height:20px
    }
    
}
@media all and (min-width:720px)
{
    .extras{
        font-size:15px;
    }
    
    .education-image
{
    width:140px;
    top:0;
}
.education-container
{
    height:140px;
    font-size:20px;
}
  .about-me
  {
      height:200px;
      margin-left:5%;
  }
  .images-sphere{
    width:100%;
    height:150px;
}
    .navbar-brand
    {
        height:80px;
        width:80px;
    }
    .title-images
{
height:80px;
width:80px;
}
    #navbarNavAltMarkup
    {
        
        margin-left:50%;

    }
    .navbar-nav
    {
        
        margin-left:50%;
        width:40%;
    }
    .nav-link
    {
        
        height:30px;
        font-size:20px;
        width:100%;
    }
    .intro-para{
        margin-top:30%;
        font-size:32px;
    }
    .small-para
    {
        font-size: 20px;
    }

}
@media all and (min-width:1200px)
{
     
    .education-image
{
    width:220px;
    top:0;
}
.education-container
{
    height:180px;
    margin-right:40px;
    font-size:15px;
}
    .about-me
  {
      height:200px;
      margin-left:5%;
      margin-top:20px;
  }
  .images-sphere{
    width:60%;
    height:200px;
}
  
    .navbar
    {
        
        height:20%;
    }
    
    .images-title
    {
    height:120px;
    width:120px;
    }
    .nav-link
    {
        
        height:60px;
        font-size:25px;
    }
    #navbarNavAltMarkup
    {
        margin-left:40%;
        
        height:2em;
    }
    .navbar-nav
    {
        width:100%;
        margin-left:0%;
    }
    .intro-image
    {
        margin-top:-100px;
    }
.intro-para{
    margin-top:0%;
    font-size:50px;
    
}

.small-para
{
    font-size: 20px;
}
.intro-hello
{
    font-size:150px;
   
}
}