/*border:2pxsolid black;*/
.title-images
{
height:30px;
width:30px;
}
.title-toggler
{
    height:20px;
    width:30px;
}
.about-border
{
    border-radius: 10px;
    box-shadow: 15px 5px 20px rgb(218, 208, 208);
}
.navbar{
    background: transparent;
    z-index:1;
}
.intro-image
{

    width:100vw;
    z-index:-1;
    margin-top:-20px;
}
.image-container
{

}
.intro-para
{
    color:white;
    position: absolute;
    font-size:15px;
    margin-top:25%;
}
.small-para
{
    font-size:10px;
}
.about-me
{
    display:inline-block; 
    margin-top:20px;
    margin-left:5%;
    
}
.images-sphere
{
    border-radius: 50%;
    box-shadow:5px 5px 20px rgb(218, 208, 208);
}
@media all and (min-width:320px)
{
    .images-sphere{
        width:50%;
        height:200px;
        margin-left:20%;
    }
    .about-me
    {
        margin-left:0;
        height:300px;

    }
    .intro-para
{
    top:2em;
    height:px;
}
    .navbar{

        height:0px;
        
    }
    .navbar-brand
    {
        height:30px;

    }
    .navbar-nav
    {
        margin-left:70%;
        font-size: 12px;
    }
    .nav-link
    {
        
        height:20px
    }
    
}
@media all and (min-width:720px)
{
  .about-me
  {
      height:200px;
      margin-left:5%;
  }
  .images-sphere{
    width:100%;
    height:150px;
}
    .navbar-brand
    {
        height:80px;
        width:80px;
    }
    .title-images
{
height:80px;
width:80px;
}
    #navbarNavAltMarkup
    {
        
        margin-left:50%;

    }
    .navbar-nav
    {
        
        margin-left:50%;
        width:40%;
    }
    .nav-link
    {
        
        height:30px;
        font-size:20px;
        width:100%;
    }
    .intro-para{
        margin-top:30%;
        font-size:32px;
    }
    .small-para
    {
        font-size: 20px;
    }
}
@media all and (min-width:1200px)
{
    .about-me
  {
      height:200px;
      margin-left:5%;
  }
  .images-sphere{
    width:60%;
    height:150px;
}
  
    .navbar
    {
        
        height:20%;
    }
    
    .images-title
    {
    height:120px;
    width:120px;
    }
    .nav-link
    {
        
        height:60px;
        font-size:25px;
    }
    #navbarNavAltMarkup
    {
        margin-left:40%;
        
        height:2em;
    }
    .navbar-nav
    {
        width:100%;
        margin-left:0%;
    }
    .intro-image
    {
        margin-top:-100px;
    }
.intro-para{
    margin-top:10%;
    font-size:50px;
}

.small-para
{
    font-size: 20px;
}
.intro-hello
{
    font-size:70px;
}
}